<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  
  <!-- HTML Meta Tags -->
  <title>Polysoft IT</title>
  <meta name="description" content="Professional freelance/contract full stack software development services.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://polysoftit.co.uk/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Polysoft IT">
  <meta property="og:description" content="Professional freelance/contract full stack software development services.">
  <meta property="og:image" content="https://polysoftit.co.uk/images/banner.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="polysoftit.co.uk">
  <meta property="twitter:url" content="https://polysoftit.co.uk/">
  <meta name="twitter:title" content="Polysoft IT">
  <meta name="twitter:description" content="Professional freelance/contract full stack software development services.">
  <meta name="twitter:image" content="https://polysoftit.co.uk/images/banner.png">

  <link rel="apple-touch-icon" sizes="180x180" href="public/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="public/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="public/favicon-16x16.png">
  <link rel="manifest" href="public/site.webmanifest">
  <link rel="mask-icon" href="public/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css" />
  <link rel="stylesheet" href="/styles/core.css" />

  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
</head>

<body>

  <div id="app" v-cloak>
    <b-navbar class="position-fixed w-100" style="z-index: 1;">
      <b-navbar-nav class="mx-auto" style="background-color: white; border-radius: .5rem;">
        <!-- <b-nav-item @click="fetchContent('home')">Home</b-nav-item> -->

        <!-- v-b-hover="(state) => { navbarHover(state, 'personal'); }" -->
        <b-nav-item-dropdown text="Personal" ref="personal" menu-class="nav-dropdown">
          <b-dropdown-item @click="fetchContent('qunite')">Qunite</b-dropdown-item>
          <b-dropdown-item @click="fetchContent('qunite-mobile')">Qunite Mobile</b-dropdown-item>
          <b-dropdown-item @click="fetchContent('brainboard')">BrainBoard</b-dropdown-item>
          <b-dropdown-item @click="fetchContent('irisc')">iRISC</b-dropdown-item>
        </b-nav-item-dropdown>
        
        <!-- v-b-hover="(state) => { navbarHover(state, 'professional'); }" -->
        <b-nav-item-dropdown text="Professional" ref="professional" menu-class="nav-dropdown">
          <b-dropdown-item @click="fetchContent('thoosa')">Thoosa 2</b-dropdown-item>
          <b-dropdown-item @click="fetchContent('thoosa-personal')">Thoosa Personal</b-dropdown-item>
          <b-dropdown-item @click="fetchContent('your-project')">Your Project?</b-dropdown-item>
        </b-nav-item-dropdown>
        
        <b-nav-item @click="scrollTo($refs.contact)">Contact</b-nav-item>

      </b-navbar-nav>
    </b-navbar>

    <div class="container-fluid position-relative">
      <div class="row">
        <div class="col-12 position-fixed">
          <div class="w-100" style="height: 350px;">
            <img src="/images/banner.png" @click="fetchContent('home')" class="clickable" style="max-width: 100%; max-height: 350px; margin: auto; display: block; position: absolute; top: 0; bottom: 0; right: 0; left: 0;"/>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row" style="z-index: 2;">
        <div class="col-12 top-angle-down" style="margin-top: 280px"></div>
        <div class="col-12" style="background-color: #1f151f; color: white; min-height: 60vh;">
          <div ref="article" style="position: absolute; background-color: red; top: -70px"></div>
          <div class="container my-3">
            <transition name="fade" mode="out-in">
              <div class="row" :key="content.title">
                <div class="col-lg-7 offset-lg-1">
                  <h2 style="display: inline-block;">{{content.title}}</h2>
                  
                  <span class="ml-2">
                    <b-icon v-if="content.link" @click="followLink(content.link)" class="clickable" icon="arrow-up-right-square-fill" scale="1.25" style="margin-bottom: 2px; margin-right: 2px;"></b-icon>
                    <b-icon v-if="content.git" @click="followLink(content.git)" class="clickable" icon="github" scale="1.25" style="margin-bottom: 2px;"></b-icon>
                  </span>
                  
                  <div v-html="content.para1"></div>
                  
                </div>

                <div v-if="content.supplement" class="col-lg-7 offset-lg-4 mt-5 text-right" v-html="content.supplement"></div>

                <div v-if="content.para2" class="col-lg-7 offset-lg-1 mt-5" v-html="content.para2"></div>

                <div v-if="content.images" class="col-lg-10 offset-lg-1 mt-5">
                  <h3>Gallery</h3>
                  <b-carousel style="text-shadow: 0px 0px 2px #000"
                              controls
                              indicators
                              :interval="5000"
                              img-width="1920"
                              img-height="1080">
                    <b-carousel-slide v-for="path in content.images" :img-src="path" class="rounded"></b-carousel-slide>
                  </b-carousel>
                </div>

                <div v-if="content.stack" class="col-lg-6 offset-lg-5 mt-5 text-right">
                  <h3>{{content.stack.title ? content.stack.title : 'Tech Stack'}}</h3>

                  <div v-if="content.stack.front" class="text-g">[&nbsp;{{content.stack.front.join(', ')}}&nbsp;]</div>
                  <div v-if="content.stack.back" class="text-r">[&nbsp;{{content.stack.back.join(', ')}}&nbsp;]</div>
                  <div v-if="content.stack.db" class="text-o">[&nbsp;{{content.stack.db.join(', ')}}&nbsp;]</div>
                  <div v-if="content.stack.server" class="text-y">[&nbsp;{{content.stack.server.join(', ')}}&nbsp;]</div>
                  <div v-if="content.stack.os" class="text-b">[&nbsp;{{content.stack.os.join(', ')}}&nbsp;]</div>

                  <div v-if="content.stack.para" class="mt-3" v-html="content.stack.para"></div>
                </div>
              </div>
            </transition>
          </div>
        </div>
        <div class="col-12 bottom-angle-down" style="z-index: 1;"></div>
        <div class="col-12" style="background-color: white;">
          <div class="container">
            <div class="row">
              <div ref="contact" class="col-lg-10 offset-lg-1 mb-4">
                <h2>Contact</h2>
                Rory Pinkney
                <div>email: rory@polysoftit.co.uk</div>
                <div>mobile: +44 7763 278830 </div>
                <div class="ml-1 mt-3">
                  <b-icon @click="followLink('https://github.com/rtybanana/')" class="clickable mr-1" icon="github" scale="1.5"></b-icon>
                  <b-icon @click="followLink('https://www.linkedin.com/in/rtybanana/')" class="clickable" icon="linkedin" scale="1.5"></b-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const loader = window.httpVueLoader;

    var app = new Vue({
      el: '#app',
      data: {
        content: {}
      },
      methods: {
        navbarHover(state, name) {
          this.$refs[name].visible = state;
        },
        fetchContent(file) {
          fetch(`/content/${file}.json`)
            .then(response => response.json())
            .then(data => {
              this.content = data;
              setTimeout((() => {
                this.scrollTo(this.$refs.article);
              }).bind(this), 10);
              
            });
          
        },
        followLink(link) {
          window.location.href = link;
        },
        scrollTo(ref) {
          ref.scrollIntoView({behavior: 'smooth'});
        }
      },
      created() {
        fetch('/content/home.json')
          .then(response => response.json())
          .then(data => {
            this.content = data;
          });
      }
    })
  </script>

</body>

<style>

.nav-dropdown {
  margin: 0;
}

</style>
</html>

